/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Add in your own customisations */

/* Header styling */
.header-banner {
    background-color: #93d0f4; /* Updated background color */
    text-align: center;
    padding: 20px;
}

.header-banner h1 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-align: center; /* Aligning header text to the middle */
}

.logo {
    max-width: 200px;
    display: block;
    margin: 10px auto;
}

/* Company Info Section */
.company-info {
    margin: 20px 0;
}

.company-info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left;
}

/* Stock Information Table */
.stock-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    border: 1px solid #ddd;
}

.stock-info table, .stock-info th, .stock-info td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.stock-info th {
    /* background-color: #e0e0e0; */
    text-align: left;
}

/* Relevant Links */
.relevant-links ul {
    list-style-type: circle black;
}

.relevant-links li {
    margin: 5px 0;
}

.relevant-links a {
    color: #0079c1; /* Updated hyperlink color */
    text-decoration: none;
}

.relevant-links a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    text-align: center;
    color: white;
    background-color: #93d0f4; /* Updated footer background color */
    padding: 10px 0; /* Added 10px padding at top and bottom */
    margin-top: 20px;
}